*.pyc
*.yml
*.idea
*.pbs
*.fas
*.DS_Store

test/output/*
tmp/
data/

statistics/detailed/output/*
!statistics/detailed/output/.gitkeep
statistics/detailed/raw_data/*
!statistics/detailed/raw_data/.gitkeep
